.controls-container {
  margin-bottom: 20px;
  text-align: center;
}

.controls-container select {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 250px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.category-container {
  border-top: 2px solid #ccc;
}

.category-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.icon-container svg {
  width: 59px;
  height: 59px;
  stroke: black;
  stroke-width: 10;
  fill: none;
}
